<html>
<head>
    <meta charset="UTF-8">
    <title>wangEditor demo</title>
    <style>
        .content {
            width: 1000px;
            height: 500px;
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h3>wangEditor with ts</h3>
    <div id="editor"></div>

    <button type="button" id="html" class="btn">获取编辑器html</button>
    <button type="button" id="text" class="btn">获取编辑器text</button>
    
    <h3>内容预览</h3>
    <div id="content" class="content"></textarea>
</body>
</html>